<div class="album_view">
	<div class="image_holder">
		<%= link_to image_tag('blue_folder.png', :alt => album.name, :class => 'album_icon'), album.public_url %>
	</div>
	<span class="album_name"><%= album.name %></span>
	<p><%=  %></p>
</div>

