	<div class="sidebar_image" style="float:left">
		<%= link_to image_tag(bare_image.tiny_url, :alt => bare_image.name), 
			                    bare_image.new_size_url(:large), :id => bare_image_counter, 
			                    :rel => "lightbox[random]", :class => "lightbox_link" %>
	</div>

