<div class="image_view">
	<div class="img-shadow">
		<div class="image_holder">
			<%= link_to image_tag(image.thumbnail_url, :alt => image.name), 
				                    image.new_size_url(:large), :id => 
				                    image_counter, :rel => "lightbox[album]", 
				                    :class => "lightbox_link" %>
		</div>
	</div>
</div>

